<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-style.css">
    <title>Login</title>
</head>

<body>
    <form>
        <h2>Login</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>

        <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="text" placeholder="Email" name="email">
        </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>

        <button type="login-btn" class="btn">Login</button>
    </form>

    {{>footer}}

    <script src="./jquery/dist/jquery.js"></script>
    <script src="./axios/dist/axios.js"></script>

    <script src="./js/Login.service.js"></script>
    <script src="./js/Renderer.js"></script>
    <script src="./js/Task.js"></script>
    <script src="./main.js"></script>
</body>

</html>